// Color
$color-white: #fff;
$color-grey: #cfd8e7;
$color-black: #000;
$color-brand: #4f6b93;
$color-link: #006dcc;

$border-radius-sm: 0.4rem;
$border-radius-md: 0.4rem;
$border-radius-lg: 0.4rem;

$page-background: $color-white;
$page-text: $color-black;
$base-font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$base-font-size: 62.5%;
